<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Viewer</title>
  <style>
    html {
      height: 100%;
    }
    body {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
    #canvas {
      max-width: 100%;
    }
  </style>
</head>
<body>
  <canvas id="canvas" width="640" height="480"></canvas>

  <script>
    if (typeof APP !== 'undefined') {
      throw new Error('namespace "APP" is already exists.')
    }
    window.APP = {}
    APP.IP_ADDRESS = '{{ ipAddress }}'
    APP.PORT = '{{ port }}'
  </script>
  <script src="/viewer.js" async defer></script>
</body>
</html>
